@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Permanent Marker";
  src: url("/src/assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}

@font-face {
    font-family: "Orbitron";
    src: url("/src/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: "Rowdies";
    src: url("/src/assets/fonts/Rowdies/Rowdies-Bold.ttf");
  }

  @font-face {
    font-family: "Roboto_Flex";
    src: url("/src/assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
  }

*{
    font-family: "Roboto_Flex";
    font-weight: 600;
}

.fontOrbitron{
    font-family: "Orbitron";
}

@keyframes rocket {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-4cm) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(180deg);
  }
}

.animate-rocket {
  animation: rocket 2s ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce{
  animation: bounce 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin{
  animation: spin 1s linear infinite;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}